<h1>Stupid coaching</h1>


<div class="card">
  <h4> <%= @ask %> </h4>
  <p> -You </p>
</div>

<div class="card" id="coach-answer">
  <h4> <%= @answer %> </h4>
  <p> -Your coach </p>
</div>

<h3 id="link"> <%= link_to "Ask another question", ask_path  %> </h3>





